
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>The Alcojery</title>
    <link href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>

    <main role="main" class="container">  
     <h5 class="display-5">The Alcojery Product List</h5>
      <table class="table table-hover" id="productTable">
            <thead class="thead-dark">
              <tr>
                <th>Product ID</th>
                <th scope="col">Product Name</th>
                <th scope="col">Price</th>
                <th scope="col">Items Left</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <th>awewa</th>
                <td>Mark</td>
                <td>Otto</td>
                <td><button class="btn btn-success">Update</button><span style="margin-right: 20px;"></span><button class="btn btn-danger">Delete</button></td>
              </tr>
            </tbody>            
          </table>

          <form action="/product" method="post">
            <div class="form-group">
              <label for="productName">Product Name:</label>
              <input type="text" class="form-control" name="productName">
            </div>
            <div class="form-group">
              <label for="Price">Price:</label>
              <input type="text" class="form-control" name="price">                
            </div>
            <div class="form-group">
              <label for="itemLeft">Quantity</label>
              <input type="number" class="form-control" name="itemsLeft">    
             </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>   
          
          

    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>
